.entry_field {
  input {
    background: var(--shades-1);
    border: 2px solid var(--shades-6);
    border-radius: 4px;
    padding: 13px 25px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: var(--main-gray);
    position: relative;
  }
}
