:root {
  --secondary-teal: #009999;
  --secondary-dark-blue: #011b31;
  --secondary-4: #780008;
  --secondary-5: #ba2c2b;
  --secondary-6: #1b7084;
  --secondary-8: #712885;

  --main-dark-gray: #2b2b2b;
  --main-gray: #676767;
  --main-blue: #053b66;
  --main-yellow: #fab019;
  --main-white: #ffffff;

  --shades-1: #fafaf9;
  --shades-2: #f3f2f0;
  --shades-3: #edebe7;
  --shades-4: #d9d9d9;
  --shades-5: #a7a9ac;
  --shades-6: #e0d9cd;
  --shades-7: #aca392;
  --shades-8: #d2ebff;
  --shades-9: #023055;
  --shades-10: #145386;
  --shades-11: #565252;
  --shades-12: #457ca8;

  --neutral-1: #000000;
  --neutral-2: #1e1e1e;
  --neutral-3: #353535;
  --neutral-4: #4e4e4e;
  --neutral-5: #696969;
  --neutral-6: #858585;
  --neutral-7: #dddddd;
  --neutral-8: #f1f1f1;
  --neutral-9: #f8f8f8;
  --neutral-10: #ffffff;

}
